altgraph==0.17.5
beautifulsoup4==4.15.0
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.2
click==8.5.0
cryptography==50.0.2
defusedxml==0.7.1
flatbuffers==25.12.19
idna==3.20
iniconfig==2.3.0
macholib==1.16.4
magika==0.6.3
markdownify==1.2.3
markitdown==0.1.8
numpy==2.5.3
onnxruntime==1.30.0
packaging==26.3
pdfminer.six==20260107
pdfplumber==0.11.10
pillow==12.3.0
pluggy==1.6.0
protobuf==7.36.2
pycparser==3.0
Pygments==2.21.0
pyinstaller==6.22.3
pyinstaller-hooks-contrib==2026.8
pypdfium2==5.13.0
PySide6_Essentials==6.11.2
pytest==9.1.1
python-dotenv==1.2.4
requests==2.34.2
setuptools==84.0.0
shiboken6==6.11.2
six==1.17.0
soupsieve==2.10
typing_extensions==4.16.0
urllib3==2.8.0
